/* --------------- book index.cshtml styles --------------- */
.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

    .search-form input[type="text"] {
        padding: 8px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    .search-form button {
        padding: 8px 15px;
        background-color: #156bef;
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .search-form button:hover {
            background-color: #3240f5;
        }


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

    .page-link.active {
        background-color: #156bef;
        color: white;
        border: 1px solid #156bef;
    }

    .page-link:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.2);
    }

.page-info {
    margin-left: 10px;
    color: white;
}

/* --------------- book form styles --------------- */
.book-form {
    width: 600px;
    padding: 35px 45px 25px 45px;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: white;
}

.book-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

.book-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

    .book-field label {
        background-color: transparent;
        text-align: left;
        display: block;
        padding: 0;
        font-size: 16px;
        margin-bottom: 5px;
        border: none;
        color: white;
    }

    .book-field input[type="text"],
    .book-field input[type="email"],
    .book-field input[type="number"],
    .book-field textarea,
    .book-field select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        transition: border-color 0.3s ease;
        margin-top: 3px;
    }

        .book-field select option {
            background-color: transparent;
            color: white;
        }

.publisher-field select option {
    background-color: transparent;
    color: black;
}

.column-fields {
    display: flex;
    justify-content: space-between;
}

    .column-fields .book-field {
        flex: 0 0 32%;
        box-sizing: border-box;
    }

.book-field select:focus {
    border-color: #4290f5;
    outline: none;
}

.book-field input[type="text"]:focus,
.book-field input[type="email"]:focus,
.book-field input[type="number"]:focus,
.book-field textarea:focus {
    border-color: #4290f5;
    outline: none;
}

.book-field input[type="text"]::placeholder,
.book-field input[type="email"]::placeholder,
.book-field input[type="number"]::placeholder,
.book-field textarea::placeholder {
    color: rgba(250, 250, 250, 0.5);
}

.location-dropdown option {
    color: black !important;
}

.submit-button {
    margin-top: 10px;
    width: 30%;
    padding: 8px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #156bef;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    margin: auto;
}

    .submit-button:hover {
        background-color: #3240f5;
    }

.location-form-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.location-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .location-form input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        transition: border-color 0.3s ease;
    }

        .location-form input[type="number"]:focus {
            border-color: #4290f5;
            outline: none;
        }

        .location-form input[type="number"]::placeholder {
            color: rgba(250, 250, 250, 0.5);
        }

.add-location-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    background-color: #24CC4D;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .add-location-btn:hover {
        background-color: #24DD4D;
    }

.location-summary {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .location-summary:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-color: #bbb;
    }

    .location-summary button {
        font-size: 15px;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s ease;
    }

        .location-summary button:hover {
            color: red;
        }

.select2-container {
    width: 100% !important;
    max-width: 100%;
    cursor: pointer;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

    .select2-container--default .select2-selection--multiple .select2-search__field::placeholder,
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: rgba(250, 250, 250, 0.5);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid #ccc;
        height: fit-content;
        border-radius: 5px;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
        margin-right: 5px;
        cursor: pointer;
    }

.select2-container--default .select2-dropdown {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid #ccc;
}

.select2-container--default .select2-results__option {
    background-color: transparent;
    color: black;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #156bef;
    color: white;
}

.select2-container--open .select2-dropdown {
    left: 0;
    right: 0;
}

.select2-results__options {
    word-wrap: break-word;
}
