@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------- shared -------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Poppins;
    background-image: url("/images/background-image-extended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* --------------------- general styles --------------------- */

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

    .notification.show {
        opacity: 1;
    }

    .notification.success {
        background-color: #28a745;
    }

    .notification.error {
        background-color: #dc3545;
    }


.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    max-width: 100%;
}

    .btn:focus {
        outline: none !important;
        box-shadow: none !important;
    }

.btn-add {
    align-self: center;
    background-color: #2ecc0e;
    color: white;
}

    .btn-add:hover {
        background-color: #2ebd0e;
        color: white;
    }

.btn-edit, .btn-delete {
    cursor: pointer;
    display: inline-block;
    pointer-events: auto;
    height: fit-content;
    width: fit-content;
    padding: 6px 10px 6px 10px;
    z-index: 100;
}

.btn-edit {
    background-color: #ff9911;
    margin-right: 2px;
}

    .btn-edit:hover {
        text-decoration: none;
        color: white;
        background-color: #ffa651;
    }

.btn-delete {
    background-color: #d9534f;
}

    .btn-delete:hover {
        background-color: #c9302c;
        color: white;
    }


/* -------------- navigation bar -------------- */

.myNav {
    width: 80%;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(125px);
    border: none;
    margin-bottom: 55px;
    z-index: 1000;
}

.nav-item {
    margin-left: 5px;
    font-size: 18px;
    margin: 3px 3px 3px 3px;
}

.nav-link {
    border-radius: 3px;
}

#myNavItem:hover {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
    font-size: 22px;
}

.navbar-nav {
    margin-left: auto;
}

    .navbar-nav .dropdown-menu {
        padding: 3px;
        display: none;
        background-color: white;
        color: #000 !important;
    }

    .navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
    }

.dropdown-menu {
    font-size: 18px;
}

    .dropdown-menu .dropdown-menu {
        left: 100%;
        right: auto;
        top: 0;
        margin-top: 0;
        z-index: 1000;
    }

.navbar-nav .dropdown-menu a {
    color: #000 !important;
    padding: 8px 16px;
    display: block;
}

    .navbar-nav .dropdown-menu a:hover {
        background-color: #DADADA;
        color: #000;
    }

.dropdown-menu .dropdown-item {
    white-space: nowrap;
    border-radius: 3px;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0;
    }

#nav-logout {
    color: rgb(220, 53, 69) !important;
    margin-bottom: 2px;
}

/* ---------- main page styles ---------- */

.main-heading {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}


/* ---------- index.cshtml pages ---------- */

.my-container {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    text-align: center;
    color: white;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    margin-top: 30px !important;
    margin: 0 auto;
}

    .table th, .table td {
        height: fit-content;
        padding: 12px;
        text-align: center;
        color: white;
    }

    .table thead th {
        background-color: transparent;
        color: white;
    }

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* ---------- employee-specific index.cshtml styles ---------- */

.filter-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.filter-label {
    color: white;
    font-size: 16px;
}

.filter-select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

    .filter-select option {
        color: black;
    }

.filter-radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-radio-label {
    color: white;
    font-size: 16px;
}

.card-title {
    color: white;
}

.filter-radio-group input[type="radio"] {
    margin-right: 5px;
}


.role-tag0 {
    position: relative;
    padding: 3px 5px;
    margin: 1px 1px 5px 1px;
    border: 1px solid #39FF14;
    border-radius: 7.5px;
    background-color: transparent;
    color: white;
    display: inline-block;
}

    .role-tag0:hover {
        cursor: context-menu;
    }

.clickable-row:hover {
    cursor: pointer;
    background-color: rgba(57, 255, 20, 0.1);
}

/* ---------- details pages ---------- */

.details-container {
    position: relative;
    background-color: rgba(52, 73, 94, 0.4);
    color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

    .details-container h1,
    .details-container h3 {
        color: #ecf0f1;
    }

    .details-container strong {
        color: #bdc3c7;
    }

    .details-container ul {
        list-style-type: none;
        padding: 0;
    }

        .details-container ul li {
            background-color: rgba(44, 62, 80, 0.7);
            padding: 8px;
            margin-bottom: 5px;
            border-radius: 7px;
        }

    .details-container form div {
        margin-bottom: 10px;
    }


    .details-container label {
        display: block;
        margin-bottom: 5px;
    }

    .details-container select,
    .details-container button {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ecf0f1;
        background-color: rgba(44, 62, 80, 0.7);
        color: #ecf0f1;
    }

.action-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.action-icons a{
    text-decoration: none;
    color: grey;
    transition: all 0.3s ease;
}

    .action-icons a:hover {
        text-decoration: none;
        color: rgba(58, 83, 155, 0.7);
    }


/* ---------- employee-specific details.cshtml styles ---------- */

.roleSelect {
    margin-right: 3px;
}

.details-container button {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    .details-container button:hover {
        background-color: rgba(58, 83, 155, 0.7);
    }

.role-tag {
    position: relative;
    padding: 3px 5px;
    margin: 5px;
    border: 1px solid #39FF14;
    border-radius: 7.5px;
    background-color: transparent;
    color: white;
    display: inline-block;
}

    .role-tag .remove-role {
        position: absolute;
        top: -5px;
        right: -8px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: red;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin: auto;
        z-index: 1;
    }

#dismiss-employee, #renew-employee {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

#dismiss-employee {
    background-color: #f11;
}

#renew-employee {
    background-color: #3b3;
}

#saveChangesButton {
    background-color: #3b3;
}

    #dismiss-employee:hover, #renew-employee:hover, #saveChangesButton:hover {
        background-color: rgba(50, 80, 80, 0.9);
    }


/* ---------- email index page ---------- */

.email-templates-container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.email-header, .publisher-header, .author-header, .my-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


.templates-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.template-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 15px;
}

.card-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1200px) {
    .template-card {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 992px) {
    .template-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .template-card {
        width: calc(100% - 20px);
    }
}


/* ---------- table styles ---------- */

.sort-link {
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    position: relative;
}

    .sort-link:hover {
        color: white;
    }

.sort-text {
    text-align: center;
}

.sort-arrows {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    line-height: 1;
}

.sort-arrow {
    font-size: 10px;
    color: #888;
    transition: color 0.3s ease;
}

    .sort-arrow:hover{
        cursor: pointer;
    }

    .sort-arrow.active {
        color: white;
    }


/* ---------- email template edit page ---------- */

#tinyMceEditor {
    position: relative;
    z-index: 0;
}

.email-template-container {
    width: 80%;
    margin: auto;
}

    .email-template-container label {
        color: white;
        margin-top: 10px;
    }

.button-center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


/* ---------- error pages ---------- */

.access-denied, .page-not-found {
    text-align: center;
    padding: 50px;
}

    .access-denied h1, .page-not-found h1 {
        color: #d9534f;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .access-denied p, .page-not-found p {
        font-size: 18px;
        margin-bottom: 20px;
        color: white;
    }

    .access-denied .btn, .page-not-found .btn {
        padding: 10px 20px;
        font-size: 16px;
    }


/* --------------- modal styles --------------- */

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

.custom-modal-dialog {
    position: relative;
    width: auto;
    margin: 1.75rem auto;
    max-width: 600px;
}

.custom-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    background-color: #2c2c54;
    border-radius: 0.3rem;
    outline: 0;
    color: white;
    overflow-y: auto;
}

.custom-modal-header,
.custom-modal-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.custom-modal-header {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
}

.custom-modal-footer {
    border-top: 1px solid #dee2e6;
}

.custom-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
}

.custom-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

    .custom-close:hover {
        opacity: 1;
    }

.custom-modal-body {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-modal-footer .btn {
    margin-left: 0.5rem;
}

#createPublisherForm, #editPublisherForm,
#createAuthorForm, #editAuthorForm {
    width: 100% !important;
}

.modal-field {
    margin-bottom: 20px;
    text-align: center;
    width: 100% !important;
    overflow: hidden;
}

    .modal-field input[type="text"],
    .modal-field input[type="email"],
    .modal-field input[type="tel"],
    .modal-field input[type="number"],
    .modal-field textarea {
        width: 80% !important;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        transition: border-color 0.3s ease;
    }

        .modal-field input[type="text"]:focus,
        .modal-field input[type="email"]:focus,
        .modal-field input[type="tel"]:focus,
        .modal-field input[type="number"]:focus,
        .modal-field textarea:focus {
            border-color: #4290f5;
            outline: none;
        }

        .modal-field input[type="text"]::placeholder,
        .modal-field input[type="email"]::placeholder,
        .modal-field input[type="tel"]::placeholder,
        .modal-field input[type="number"]::placeholder,
        .modal-field textarea::placeholder {
            color: rgba(250, 250, 250, 0.5);
        }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.modal-field textarea {
    overflow-y: auto;
}

    .modal-field textarea::-webkit-scrollbar {
        width: 5px;
    }

    .modal-field textarea::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    .modal-field textarea::-webkit-scrollbar-thumb {
        background-color: #685191;
        border-radius: 10px;
        border: 3px solid rgba(255, 255, 255, 0.1);
    }


