.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 20px;
}

.form-check-input {
    margin-right: 0.5rem;
    cursor: pointer;
}

.form-check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s;
}

    .form-check-input:checked {
        background-color: #007bff;
        border-color: #007bff;
    }

        .form-check-input:checked::before {
            display: block;
            text-align: center;
            color: white;
            font-size: 14px;
            line-height: 18px;
        }

.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

    .search-form input[type="text"] {
        padding: 8px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    .search-form button {
        padding: 8px 15px;
        background-color: #156bef;
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .search-form button:hover {
            background-color: #3240f5;
            color: white !important;
        }

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

    .page-link.active {
        background-color: #156bef;
        color: white;
        border: 1px solid #156bef;
    }

    .page-link:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.2);
    }

.page-info {
    margin-left: 10px;
    color: white;
}

.sort-link {
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    position: relative;
}

    .sort-link:hover {
        color: white;
    }

.sort-text {
    text-align: center;
}

.sort-arrows {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    line-height: 1;
}

.sort-arrow {
    font-size: 10px;
    color: #888;
    transition: color 0.3s ease;
}

    .sort-arrow:hover {
        cursor: pointer;
    }

    .sort-arrow.active {
        color: white;
    }

