@model Library.ViewModels.Shared.SortableTableModel // author

<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<div class="my-container">
    <div class="my-header">
        <a href="" class="btn btn-add" id="add-author-btn">Add Author</a>
    </div>

    @await Html.PartialAsync("_SearchBarPartial", Model.SearchString)
    @await Html.PartialAsync("_TablePartial", Model)
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>

@await Html.PartialAsync("_ModalPartial", new { ModalId = "authorModal", CreateFormId = "createAuthorForm", EditFormId = "editAuthorForm" })

@section Scripts {
    <script src="~/js/Shared/modal.js"></script>
    <script>
        initializeModal('author', '/Author/Create', '/Author/Edit/', '/Author/Delete/');
    </script>
}