@model Library.ViewModels.OriginalBooks.CreateOriginalBookViewModel

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<form asp-action="Create" asp-controller="OriginalBook" method="post" id="createOriginalBookForm">
    <div class="modal-field">
        <input asp-for="Title" placeholder="Name*" required />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <textarea asp-for="Description" maxlength="1500" placeholder="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="SelectedGenreIds">Genres</label>
        <select class="select2-genres" asp-for="SelectedGenreIds" asp-items="@(new MultiSelectList(ViewBag.Genres, "Id", "Name"))" multiple></select>
        <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <input asp-for="OriginalPublishYear" placeholder="Original Publish Year*" type="number" min="0" max="@DateTime.UtcNow.Year" value="" required />
        <span asp-validation-for="OriginalPublishYear" class="text-danger"></span>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Shared/select2.js"></script>
}