@model Library.ViewModels.OriginalBooks.OriginalBookViewModel

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<form asp-action="Edit" asp-controller="OriginalBook" method="post" id="editOriginalBookForm">
    <input asp-for="Id" type="hidden" />
    <div class="modal-field">
        <label class="required" asp-for="Title">Title</label>
        <input asp-for="Title" required />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="Description">Description</label>
        <textarea asp-for="Description" maxlength="1500"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="GenreIds">Genres</label>
        <select class="select2-genres" asp-for="GenreIds" asp-items="@(new MultiSelectList(ViewBag.Genres, "Id", "Name", Model.GenreIds))" multiple></select>
        <span asp-validation-for="GenreIds" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="OriginalPublishYear">Original Publish Year</label>
        <input asp-for="OriginalPublishYear" type="number" min="0" max="@DateTime.UtcNow.Year" required />
        <span asp-validation-for="OriginalPublishYear" class="text-danger"></span>
    </div>
    <input asp-for="CreationDate" type="hidden" />
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="~/js/Shared/select2.js"></script>
