@model Library.ViewModels.OriginalBooks.EditOriginalBookViewModel

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<form asp-action="Edit" asp-controller="OriginalBook" method="post" id="editOriginalBookForm">
    <input asp-for="Id" type="hidden" />
    <div class="modal-field">
        <label class="required" asp-for="EnglishTitle">English Title</label>
        <input asp-for="EnglishTitle" required />
        <span asp-validation-for="EnglishTitle" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="EnglishDescription">English Description</label>
        <textarea asp-for="EnglishDescription" maxlength="1500"></textarea>
        <span asp-validation-for="EnglishDescription" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="GermanTitle">German Title</label>
        <input asp-for="GermanTitle" />
        <span asp-validation-for="GermanTitle" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="GermanDescription">German Description</label>
        <textarea asp-for="GermanDescription" maxlength="1500"></textarea>
        <span asp-validation-for="GermanDescription" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="GeorgianTitle">Georgian Title</label>
        <input asp-for="GeorgianTitle" />
        <span asp-validation-for="GeorgianTitle" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="GeorgianDescription">Georgian Description</label>
        <textarea asp-for="GeorgianDescription" maxlength="1500"></textarea>
        <span asp-validation-for="GeorgianDescription" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label asp-for="GenreIds">Genres</label>
        <select class="select2-genres" asp-for="GenreIds" asp-items="@(new MultiSelectList(ViewBag.Genres, "Id", "Name", Model.GenreIds))" multiple></select>
        <span asp-validation-for="GenreIds" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="OriginalPublishYear">Original Publish Year</label>
        <input asp-for="OriginalPublishYear" type="number" min="0" max="@DateTime.UtcNow.Year" required />
        <span asp-validation-for="OriginalPublishYear" class="text-danger"></span>
    </div>
    <input asp-for="CreationDate" type="hidden" />
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="~/js/Shared/select2.js"></script>
