@model Library.Service.Dtos.OriginalBook.Get.OriginalBookDto

@{
    ViewData["Title"] = "Original Book Details";
}

<div class="details-container">
    <div>
        <p><strong>Title:</strong> @Model.Title</p>
        <p><strong>Description:</strong> @Model.Description</p>
    </div>
</div>