@model Library.ViewModels.Shared.SortableTableModel // original book

<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<div class="my-container">
    <div class="my-header">
        <a href="" class="btn btn-add" id="add-originalBook-btn">Add Original Book</a>
    </div>

    @await Html.PartialAsync("_TablePartial", Model)
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>

@await Html.PartialAsync("_ModalPartial", new { ModalId = "originalBookModal", CreateFormId = "createOriginalBookForm", EditFormId = "editOriginalBookForm" })

@section Scripts {
    <script src="~/js/Shared/modal.js"></script>
    <script>
        initializeModal('originalBook', '/OriginalBook/Create/', '/OriginalBook/Edit/', '/OriginalBook/Delete/', '/OriginalBook/Renew/');
    </script>
}