@using Library.Service.Dtos.Book;
@model Library.ViewModels.Books.EditBookViewModel

@{
    ViewData["Title"] = "Edit Book";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/post-form.css" />
</head>

<body>
    <form class="post-form" asp-action="Edit" asp-controller="Book" method="post" id="editBookForm">
        <div class="form-title">Edit Book</div>
        <input asp-for="Id" type="hidden" />
        <div class="column-fields">
            <div class="form-field" style="width: 68%;">
                <label class="required" asp-for="Title">Title</label>
                <input asp-for="Title" placeholder="Title" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-field">
                <label class="required" asp-for="ISBN">ISBN</label>
                <input asp-for="ISBN" maxlength="13" placeholder="ISBN" required/>
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-field">
            <label class="required" asp-for="Description">Description</label>
            <textarea asp-for="Description" placeholder="Description" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="column-fields">
            <div class="form-field form-field3">
                <label class="required" asp-for="Edition">Edition</label>
                <input asp-for="Edition" type="number" placeholder="Edition" required />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="form-field form-field3">
                <label class="required" asp-for="PageCount">PageCount</label>
                <input asp-for="PageCount" type="number" placeholder="# of Pages" required />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-field form-field3">
                <label class="required" asp-for="PublishYear">PublishYear</label>
                <input asp-for="PublishYear" type="number" min="0" max="@DateTime.UtcNow.Year" placeholder="Release Year" required />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field publisher-field">
            <label asp-for="PublisherId">Publisher</label>
            <select asp-for="PublisherId" asp-items="@(new SelectList(ViewBag.Publishers, "Id", "Name", Model.PublisherId))"></select>
        </div>

        <div class="form-field">
            <label asp-for="AuthorIds">Authors</label>
            <select class="select2-authors" asp-for="AuthorIds" asp-items="@(new MultiSelectList(ViewBag.Authors, "Id", "FullName", Model.AuthorIds))" id="authorSelectList" multiple></select>
            <span asp-validation-for="AuthorIds" class="text-danger"></span>
        </div>

        <button type="submit" class="submit-button">Save</button>
    </form>
</body>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/Shared/modal.js"></script>
    <script src="~/js/Shared/select2.js"></script>
}
