@using Library.ViewModels
@model Library.ViewModels.SortableTableModel

<head>
    <link rel="stylesheet" href="~/css/book.css" />
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<div class="my-container">
    <div class="my-header">
        <a href="@Url.Action("Create", "Book")" class="btn btn-add" id="add-book-btn">Add Book</a>
    </div>

    @await Html.PartialAsync("_SearchBarPartial", Model.SearchString)
    @await Html.PartialAsync("_TablePartial", Model)
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>