@model Library.ViewModels.Shared.SortableTableModel // publisher

<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<div class="my-container">
    <div class="my-header">
        <a href="" class="btn btn-add" id="add-publisher-btn">Add Publisher</a>
    </div>

    @await Html.PartialAsync("_TablePartial", Model)
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>

@await Html.PartialAsync("_ModalPartial", new { ModalId = "publisherModal", CreateFormId = "createPublisherForm", EditFormId = "editPublisherForm" })

@section Scripts {
    <script src="~/js/Shared/modal.js"></script>
    <script>
        initializeModal('publisher', '/Publisher/Create', '/Publisher/Edit/', '/Publisher/Delete');
    </script>
}