<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
</head>
<body
    data-notification-success="@GetTempDataValue("NotificationSuccess")"
    data-notification-message="@GetTempDataValue("NotificationMessage")">
    <header>
        @await Component.InvokeAsync("NavigationMenu")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/Shared/notification.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/7l6q21h7asx60bypotkj2ips01t98u6i2h30ewihetmsw08i/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@functions {
    private string? GetTempDataValue(string key)
    {
        var value = TempData[key];
        TempData.Remove(key);
        return value?.ToString();
    }
}