@model string

<head>
    <link rel="stylesheet" href="~/css//table.css" />
</head>

<div class="my-container">
    <form method="get" class="search-form">
        <input type="text" name="searchString" value="@Model" placeholder="Search..." />
        <button type="submit">Search</button>
    </form>
</div>