@model Library.ViewModels.Customers.CustomerViewModel

<form asp-action="Edit" asp-controller="Customer" method="post" id="editCustomerForm">
    <input asp-for="Id" type="hidden" />
    <div class="modal-field">
        <label class="required" asp-for="Name">Name</label>
        <input asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="Surname">Surname</label>
        <input asp-for="Surname" required />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="Email">Email</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" placeholder="Phone Number" required/>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="modal-field">
        <label class="required" asp-for="Address">Address</label>
        <input asp-for="Address" placeholder="Address*" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <input asp-for="MembershipStartDate" type="hidden" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}