@model Library.ViewModels.Shared.SortableTableModel // customer

<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<div class="my-container">
    <div class="my-header">
        <a href="" class="btn btn-add" id="add-customer-btn">Add Customer</a>
    </div>

    @await Html.PartialAsync("_TablePartial", Model)
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>

@await Html.PartialAsync("_ModalPartial", new { ModalId = "customerModal", CreateFormId = "createCustomerForm", EditFormId = "editCustomerForm" })

@section Scripts {
    <script src="~/js/Shared/modal.js"></script>
    <script>
        initializeModal('customer', '/Customer/Create/', '/Customer/Edit/', '/Customer/Delete/', '/Customer/Renew/');
    </script>
}