@model Library.ViewModels.Authorization.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert-container">
            <div class="alert alert-danger">
                <ul>
                    <li>@TempData["ErrorMessage"]</li>
                </ul>
            </div>
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/auth-form.css"/>
</head>

<h1 style="color: white; margin-bottom: 25px;">Forgot Password</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="myField">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email*" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
