@model Library.ViewModels.Authorization.LoginViewModel
@{
    ViewData["Title"] = "Login";

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert-container">
            <div class="alert alert-danger">
                <ul>
                    <li>@TempData["ErrorMessage"]</li>
                </ul>
            </div>
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/auth-form.css" />
</head>

<body>
    <div class="myForm">
        <div class="title">
            Log into your account
        </div>
        <form asp-action="Login" method="post">
            <div class="myField">
                <label class="required" asp-for="Email">Email</label>
                <input asp-for="Email" type="email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="myField">
                <label class="required" asp-for="Password">Password</label>
                <input asp-for="Password" type="password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input class="submit-button" type="submit" value="Sign in" />
            <div class="forgot-pass">
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
            </div>
        </form>
    </div>
</body>