@model Library.ViewModels.Authorization.RegisterViewModel

@{
    ViewData["Title"] = "Register";

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert-container">
            <div class="alert alert-danger">
                <ul>
                    <li>@TempData["ErrorMessage"]</li>
                </ul>
            </div>
        </div>
    }
}


<head>
    <link rel="stylesheet" href="~/css/form.css" />
</head>

<body>
    <div class="myForm">
        <div class="title">
            Register
        </div>
        <form asp-action="Register" method="post">
            <div class="myField">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="Surname">Surname</label>
                <input asp-for="Surname" type="text" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" type="text" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="myField">
                <label>Birthdate</label>
                <div class="birthdate-fields">
                    <input asp-for="Day" type="number" placeholder="Day" class="birthdate-input" />
                    <input asp-for="Month" type="number" placeholder="Month" class="birthdate-input" />
                    <input asp-for="Year" type="number" placeholder="Year" class="birthdate-input" />

                </div>
                <span asp-validation-for="Day" class="text-danger"></span>
                <span asp-validation-for="Month" class="text-danger"></span>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="PhoneNumber">Phone number</label>
                <input asp-for="PhoneNumber" type="text" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input class="submit-button" type="submit" value="Register" />
            <div class="have-account">
                <a asp-controller="Account" asp-action="Login">Already have an account?</a>
            </div>
        </form>
    </div>
</body>
