@model Library.ViewModels.ResetPasswordViewModel

@{
}

<head>
    <link rel="stylesheet" href="~/css/form.css" />
</head>

<h1>Reset Password</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="myField">
                <label asp-for="Password" class="control-label">New Password</label>
                <input asp-for="Password" class="form-control" placeholder="New Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="myField">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
